<header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-3 col-md-3">
                <h1 class="logo-container">
                    <!-- <a routerLink="/">DealsLive</a> -->
                    <a routerLink="/">
                        <img class="logo" src="assets/img/logo-rec.png" alt="DealsLive">
                    </a>
                </h1>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="input-group mb-3 mt-3 search-input">
                    <input #searchInput type="text" class="form-control" placeholder="Search"
                        (keyup)="onPressEnter($event, searchInput.value)">
                    <i class="fa fa-search fa-lg search-icon" aria-hidden="true"
                        (click)="searchProducts(searchInput.value)"></i>
                </div>
            </div>
        </div>
    </div>
</header>

<section class="container-fluid mt-3">
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 d-none d-sm-block">
            <ul class="list-group">
                <li class="list-group-item">
                    <a href="javascript:void(0)" (click)="apiService.navigateTo('Deal of the day')">
                        Deal of the day
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="javascript:void(0)" (click)="apiService.navigateTo('Best Seller')">
                        Best Seller
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="javascript:void(0)" (click)="apiService.navigateTo('Men Fashion')">
                        Men Fashion
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="javascript:void(0)" (click)="apiService.navigateTo('Women Fashion')">
                        Women Fashion
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="javascript:void(0)" (click)="apiService.navigateTo('Kids Fashion')">
                        Kids Fashion
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="javascript:void(0)" (click)="apiService.navigateTo('Daily Wear Palazzos')">
                        Daily Wear Palazzos
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="javascript:void(0)" (click)="apiService.navigateTo('palazzo pants for women')">
                        palazzo pants for women
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="javascript:void(0)" (click)="apiService.navigateTo('Top 10 smart watches')">
                        Top 10 smart watches
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="javascript:void(0)" (click)="apiService.navigateTo('Top 10 laptop under 40000')">
                        Top 10 laptop under 40000
                    </a>
                </li>

                <!-- ============================================== -->
                <li class="list-group-item">
                    <a href="javascript:void(0)" (click)="apiService.navigateTo('Smart watches under 1000')">
                        Smart watches under 1000
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="javascript:void(0)" (click)="apiService.navigateTo('Professional laptop under 40000')">
                        Professional laptop under 40000
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
            <router-outlet></router-outlet>
        </div>
    </div>
</section>

<div class="container">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>
<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="mb-3 mt-3">
                    <p class="text-center"> All Right Reserved @ dealslive.in </p>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <p class="text-center mb-3 mt-3">
                    <a routerLink="/home">Home</a> /
                    <a routerLink="/about">About</a>/
                    <a routerLink="/contact">Contact</a>/
                    <a routerLink="/disclaimer">Disclaimer</a> /
                    <a routerLink="/privacy-policy">Privacy & Policy</a>
                </p>
            </div>
        </div>
    </div>
</footer>