a {
    color: #a50200;
}

header,
footer {
    background-color: #d5cce8;
}

.logo-container {
    text-align: center;
    margin-top: 4px;
}

.logo {
    width: 200px;
}

.badge {
    background-color: red;
    color: #fff;
    border-radius: 5px 0px 0px 0px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.image-container {
    height: 425px;
    margin: 30px 0px 60px 0px;
}

.product-thumb {
    width: 50%;
    max-width: 100%;
    padding: 14px;
}

.card-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.action-btn {}

.action-btn a {
    margin: 2px;
    font-size: 10px;
}

.search-str {
    font-weight: bold;
    text-transform: capitalize !important;
}

.search-icon {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 9;
    color: #adb5bd;
}

.price {
    color: #a50200;
    font-weight: bold;
}

.dicount-Percent {
    position: absolute;
    top: 2px;
    right: 2px;
    width: 60px;
    height: 60px;
    background: #a50200;
    color: white;
    border-radius: 50%;
    padding: 20px 14px;
    font-size: 14px;
    font-weight: bold;
}

.card-footer {
    background-color: #d5cce8;
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
    .logo-container {
        text-align: center;
        margin-top: 14px;
    }

    .search-input {
        padding: 0px 7px;
    }

    .image-container {
        height: auto;
        margin: 7px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
    .image-container {
        height: auto;
        margin: 7px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
    .image-container {
        height: 400px;
        margin: 30px 0px 60px 0px;
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {}